div.jGrowl {
	text-shadow: none;
};

div.jGrowl div.alert {
	text-shadow: none;
	font-size: large;
	opacity: 0.90;
	font-family: "Helvetica Neue", "Helvetica";
}

div.jGrowl-closer {
	text-shadow: none;
}

div.jGrowl-close {
	text-shadow: none;
}

